apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: todo-app
  namespace: argocd
spec:
  project: default
  source:
    # GitLab Container Registry 地址，注意要带上 chart 名称
    repoURL: oci://registry.gitlab.com/jerrybai/todos-helm/todo-chart
    # Chart 版本号
    targetRevision: HEAD
    # Chart 名称
    chart: todo-chart

  destination:
    server: https://kubernetes.default.svc
    namespace: todos-helm
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m